apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - https://raw.githubusercontent.com/argoproj/argo-cd/v3.1.9/manifests/install.yaml
  - ./argocd-server-ingress.yaml

components:
  - ../../components/config/
  - ../../components/plugins/

patches:
  - path: patches/argocd-cm-params-cm.yaml
  - path: patches/argocd-cm.yaml
  - path: patches/argocd-styles-cm.yaml
