metadata: {}

rclone-csi-driver:
  enabled: false

  node:
    metrics:
      enabled: true
      service:
        enabled: true
      serviceMonitor:
        enabled: true
      dashboard:
        enabled: true
        namespace: victoria-metrics
