{{- $secrets := .Values.common.secrets | default dict -}}
{{- $user := $secrets.GRAFANA_USER | default "" -}}
{{- $password := $secrets.GRAFANA_PASSWORD | default "" -}}
{{- if and (ne $user "") (ne $password "") -}}
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: victoria-metrics-grafana
spec:
  encryptedData:
    GRAFANA_USER: {{ $user }}
    GRAFANA_PASSWORD: {{ $password }}
{{- end }}
