apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: victoria-metrics-grafana
spec:
  encryptedData:
    GRAFANA_USER: {{ .Values.secrets.GRAFANA_USER | quote }}
    GRAFANA_PASSWORD: {{ .Values.secrets.GRAFANA_PASSWORD | quote }}
