nginx:
  controller:
    # Use a host port for public access so that we do not need to provision a loadbalancer.
    service:
      enabled: false
    hostPort:
      enabled: true

    # Schedule ingress controller only on the static node to allow a static IP but not expose the master node.
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: static
                  operator: In
                  values:
                    - "true"
