{{- $secrets := .Values.common.secrets | default dict -}}
{{- $cert := $secrets.CERT | default "" -}}
{{- $privateKey := $secrets.PRIVATE_KEY | default "" -}}
{{- if and (ne $cert "") (ne $privateKey "") -}}
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: sealed-secrets-root-key
spec:
  encryptedData:
    tls.crt: {{ .Values.common.secrets.CERT | base64enc | quote }}
    tls.key: {{ .Values.common.secrets.PRIVATE_KEY | base64enc | quote }}
  template:
    metadata:
      labels:
        sealedsecrets.bitnami.com/sealed-secrets-key: active
    type: kubernetes.io/tls
{{- end }}
