metadata:
  namespace: victoria-metrics

common:
  secrets:
    GRAFANA_USER: ""
    GRAFANA_PASSWORD: ""

victoria-metrics:
  fullnameOverride: victoria-metrics

  victoria-metrics-operator:
    enabled: false

  grafana:
    admin:
      existingSecret: victoria-metrics-grafana
      userKey: GRAFANA_USER
      passwordKey: GRAFANA_PASSWORD
    ingress:
      enabled: false
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.tls: "true"
        cert-manager.io/cluster-issuer: letsencrypt-cloudflare

  prometheus-node-exporter:
    tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
      - effect: NoExecute
        key: CriticalAddonsOnly
        value: "true"
