metadata:
  application:
    ignoreDifferences:
      - group: ""
        kind: Secret
        name: victoria-metrics-operator-validation
        namespace: victoria-metrics
        jsonPointers:
          - /data
      - group: admissionregistration.k8s.io
        kind: ValidatingWebhookConfiguration
        name: victoria-metrics-operator-admission
        jqPathExpressions:
          - ".webhooks[]?.clientConfig.caBundle"

common:
  secrets:
    GRAFANA_USER: ""
    GRAFANA_PASSWORD: ""

victoria-metrics:
  nameOverride: victoria-metrics

  grafana:
    admin:
      existingSecret: victoria-metrics-grafana
      userKey: GRAFANA_USER
      passwordKey: GRAFANA_PASSWORD
    ingress:
      enabled: false
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.tls: "true"
        cert-manager.io/cluster-issuer: letsencrypt-cloudflare

  prometheus-operator-crds:
    enabled: true

  prometheus-node-exporter:
    tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
      - effect: NoExecute
        key: CriticalAddonsOnly
        value: "true"
