nginx:
  enabled: true
  controller:
    watchIngressWithoutClass: true
    ingressClassResource:
      default: true

keda:
  enabled: false

victoria-metrics:
  enabled: true
  nameOverride: victoria-metrics

  grafana:
    ingress:
      enabled: false

  prometheus-operator-crds:
    enabled: true

  prometheus-node-exporter:
    tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
      - effect: NoExecute
        key: CriticalAddonsOnly
        value: "true"
